<!DOCTYPE html>
<html ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>LoLNexR</title>

    <!-- Referencias de WinJS -->
    <link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

    <!-- Referencias de LoLNexR -->
    <link href="/css/default.css" rel="stylesheet" />
    <script src="js/jquery-1.8.2-win8-1.0.min.js"></script>
    <script type="text/javascript">
        jQuery.isUnsafe = true;
    </script>
    <script src="Scripts/angular.min.js"></script>
    <script src="js/apikey.js"></script>
    <script src="/js/default.js"></script>
</head>
<body ng-controller="SummonersCtrl">
    <div class="win-ui-dark appGrid">
        <form novalidate ng-submit="getSummoner(region, name)">
            <select ng-model="region" required>
                <option ng-repeat="region in regions" value="{{region.value}}">{{region.name}}</option>
            </select>
            <input type="text" ng-model="name" required />
            <input type="submit" value="Search" />
        </form>
        <div ng-show="summoner" class="summonerTable">
            <h1>{{summoner.name}}</h1>
            <table>
                <tr>
                    <td ng-repeat="league in leagues">
                        <h3>{{league.queue}}</h3>
                        <p>{{league.name}}</p>
                        <img ng-src="{{league.imageUrl}}" />
                        <strong>{{league.tier}} {{league.entries[0].division}}</strong><span> ({{league.entries[0].leaguePoints}} LP)</span>
                    </td>
                </tr>
            </table>
            <p>{{data | json}}</p>
        </div>
    </div>
</body>
</html>
